<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SPA.Report.Properties.Settings.SPADBConnectionString"
            connectionString="Data Source=KYGMB-SERVER\SPA;Initial Catalog=SPADB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>